<!DOCTYPE html>
<html lang="PT-BR">
    {% include 'app/partials/head.html' %}

    <body>
        <div class="col-8 m-auto pt-2 pb-2 text-center">
            <h1>PetMatch</h1>
            <h3 class="text-muted"> Just as people need connections, so do our pets</h3>
            <p>PetMatch is a tinder-like matching software for pets. Just as people need connections, so do 
                our pets, especially after these tough lockdown times, where many pets found themselves feeling 
                lonely quite often. Hopefully we can help with that :)
            </p>
            <button type="button" class="btn btn-dark">Login</button>
            <button type="button" class="btn btn-light">Register</button>
        </div>
    </body>
</html>
