<!DOCTYPE html>
<html lang="en">
    {% include 'app/partials/head.html' %}

    <body>
        <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form2Example1" class="form-control" />
              <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <!-- Second Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Confirm</label>
              </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form2Example2" class="form-control" />
              <label class="form-label" for="form2Example2">Password</label>
            </div>
          
          
            <!-- Submit button -->
            <a href="../feed" class="btn btn-primary btn-block mb-4 btn-dark" role="button">Register</a>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Already a member? <a href="../login">Login</a></p>
          </form>
    </body>
</html>